/* */

* {
  margin: 0;
}

body {
  background-color: white;
  margin: 0;
}

.navbar {
  display: flex;
  justify-content: space-between;
  background-color: black;
  color: white;
  height: 40px;
  align-items: center;
}

.nav-items ul {
  display: flex;
  margin-left: 60px;
}

.items li {
  margin-right: 20px;
  list-style: none;
}

a {
  text-decoration: none;
  color: white;
}

a:hover {
  color: blue;
}
.logo {
  background-color: aquamarine;
  height: 50px;
}

.logo h1 {
  font-family: "monofett", cursive;
  margin-left: 100px;
  padding-top: 5px;
}

.header-container {
  min-height: 300px;
  background-image: url(Images/bg-image3.jpg);
  background-position: center right;
  color: #fff;
  text-align: center;
  background-size: 100%;
  margin-bottom: 20px;
}

.header-container h2 {
  font-family: "Montagu Slab", serif;
  font-size: 50px;
  line-height: 1.6em;
  padding-top: 30px;
  padding-left: 100px;
  padding-right: 100px;
}

#container {
  display: flex;
  justify-content: space-between;
  background-color: white;
  padding: 20px 100px;
  align-items: center;
  overflow: hidden;
}

.main-container {
  line-height: 1.5em;
  padding-right: 10px;
}

h2 {
  margin-bottom: 15px;
  font-family: "lobster", cursive;
}

p {
  line-height: 1.5em;
}

#side-bar {
  background-color: black;
  color: white;
  padding: 15px 10px;
}

#footer {
  font-family: "Rosarivo", serif;
  background-color: black;
  color: white;
  text-align: center;
  padding: 5px 5px;
  margin-top: 28px;
}

@media (max-width: 600px) {
  #container {
    flex-direction: column;
    padding-left: 30px;
    padding-right: 30px;
  }

  .main-container {
    width: 100%;
  }

  #side-bar {
    width: 100%;
    margin-top: 20px;
  }

  .header-container h2 {
    padding-left: 30px;
    padding-right: 30px;
  }
}
